body {
    text-align: center;
    font-family: "Curier";
}
h1 {
    color:blue;
    font-family: "Curier";
}
h2 {
    font-size: 18;
    color: #9a9a9a;
}
p {
    color: black;
}
#cabecera {
    background-color: #ddd;
    padding-top: 5%;
    padding-bottom: 5%;
}